/* Navbar.css */
.navbar {
   
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333333e4;
    color: white;
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.mode-button {
    cursor: pointer;
    padding: 10px;
    background-color: grey;
    color: white;
    border-radius: 5px;
}
.nav-links li{
    font-size: 18px;
    cursor: pointer;
}
